{% macro navplaylistitem(id,name) %}
    <li class="nav-item">
        <a class="nav-link" id="ShowPlaylist" playlistid="{{ id }}">
            <i class="fas fa-list"></i>{{name}}
        </a>
    </li>
{% endmacro %}


{% macro playlistsong(trackid,artist,album,song) %}
    <tr id="track" trackid="{{ trackid }}">
        <td id="image" ><i class="far fa-question-circle"></i></td>
        <td id="artist" class="editable">{{ artist }}</td>
        <td id="album" class="editable">{{ album }}</td>
        <td id="song" class="editable">{{ song }}</td>
        <td id="refresh"><i class="fas fa-sync" onclick='refreshDeezer("{{trackid}}","{{artist}}","{{album}}","{{song}}")'></i></td>
    </tr>
   {# <div albumname="{{album}}" class="list-group-item list-group-item-action song">
        <ul class="list-inline">
            <li class="list-inline-item">
                <i class="far fa-question-circle"></i>
            </li>
            <li class="list-inline-item">
                <span class="title tag-title">{{ album }}</span><br>
                {{ artist }} - {{ song }}
            </li>
        </ul>
    </div>#}

{% endmacro %}